.abt-page{
    background: var(--second-bg-color);
}
.abt-banner {
    position: relative;
}
.abt-banner h1 {
    position: absolute;
    top: 60%; /* Adjust to vertically center the text */
    left: 50%; /* Adjust to horizontally center the text */
    transform: translate(-50%, -50%); /* Center the text both vertically and horizontally */
    text-align: center; /* Center-align the text */
    color: white; /* Text color */
    padding: 20px; /* Add padding to the text */
    font-weight: 700;
    font-size: 60px;
}
.abt-banner img{
    width: 100%; 
    height:60vh; 
}
.abt-content{
	display: flex;
	flex-direction: column;
}
.inner-content{
	display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    place-items: center;
    gap: 3rem;
	margin-bottom: 3rem;
}
.inner-content2{
	display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    place-items: center;
    gap: 3rem;
	margin-bottom: 3rem;
}
.abt-text h2{
    font-weight: 700;
    margin-bottom: 1rem;
    color: #183866;
}
.abt-text p{
	color: black;
    line-height: 1.8rem;
    font-size: 18px;
}

.gallery-item img {
	display: block;
	max-width: 100%;
}
.gallery-container {
    height: auto;
    margin-top: 2rem;
	background-color: transparent;
}
.title {
	margin-bottom: 1rem;
}
.title .primary {
	color: #183866;
    font-weight: 700;
    display: flex;
    justify-content: center;
}
.title .secondary {
	font-size: 15px;
	color: #F59131;
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;

}
.gallery-wrapper {
	display: flex;	
}
.gallery-item {
	position: relative;
	isolation: isolate;
	display: flex;
	flex: 1;
	height: 380px;
	background-color: #000;
	padding: 25px;
	opacity: 1;
	overflow: hidden;
	transition: flex 0.5s, opacity 0.25s;
}
.gallery-item:hover {
	opacity: 1;
	flex: 5;
}
.gallery-item:not(:hover) {
	opacity: 0.85;
}
.item-image {
	position: absolute;
	top: 0;
	right: 0;
	z-index: -1;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.item-description {
	align-self: flex-end;
	color: #fff;
}
.name {
	font-size: 24px;
	background: linear-gradient(90deg, #f32d5b, #ff009b);
	padding: 5px;
	transform: translateY(-10px);
    border-radius: 5px;
}
.role {
	display: inline-block;
	background: linear-gradient(90deg, #4136d9, #0086c7);
	padding: 5px;
	box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
	transform: translateY(10px);
    font-size: 14px;
    border-radius: 5px;
}
.name, .role {
	opacity: 0;
	transition: opacity 0.25s, transform 0.3s;
	transition-delay: 0.35s;
}
.gallery-item:hover .name,
.gallery-item:hover .role {
	opacity: 1;
	transform: translateY(0);
}
.gallery-item:not(:hover) .name,
.gallery-item:not(:hover) .role {
	transition-delay: 0s;
}
@media screen and (max-width: 768px) {
	.gallery-wrapper {
		flex-direction: column;
		height: 100vh;
	}
	.gallery-item:hover {
		flex-basis: 100%;
	}
}
@media (max-width: 432px) {
    .abt-banner img {
      height: 35vh;
    }
}