.admin{
    margin:1rem 1.5rem ;
}
.about-admin{
    display: flex;
    background-color: white;
    border: 1px solid #dbdbdb;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
    margin-bottom: 2rem;
    padding: 20px 30px;
}
.about-admin h5{
    font-weight: bold;
    margin-bottom: 1rem;
}
.about-admin img{
    width: 300px;
    border-radius: 10px;
}
.admin-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 2rem;
}
.inner{
    display: flex;
    justify-content: space-between;
    padding: 0px 10px 0px 0px;
}
.inner i{
    /* padding: 3px 3px 0px 3px; */
    font-size: 45px;
    color: #1490a4;
}
.admin-cards .card{
    background-color: #17a3b8;
    padding: 20px 20px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}
.admin-cards .card:hover{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4); 
}
.admin-cards .card h1{
    font-size: 80px;
    font-weight: 700;
    padding: 0rem 2rem;
    color: white;
}
.admin-cards .card h4{
    font-weight: 700;
    padding: 0rem 1rem;
    color: white;
}
.last-content{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 2rem;
}
.charts{
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
    padding: 2rem;
    border-radius: 5px;
    width: 800px;
}
.carousel{
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
    border-radius: 5px;
    width: 430px;
}
.carousel_text{
    margin-bottom: 2rem;
}
.carousel_text p{
    color: #F59131;
}
 
/* .last-content{
    display: flex;
    flex-wrap: wrap;
} */

/* .charts{
    width: 800px;    
} */
/* .charts img{
    padding: 1rem;
    width: 100%;

} */
/* .carousel{
    width: 420px;    
} */
.carousel-item img{
    width: 100%;
    height: 250px;
}
.carousel-caption{
    background: rgba(0, 0, 0, 0.4); 
    padding: 15px 0px 0px;
    border-radius: 5px;
}
.carousel-text{
    color: black;
}