body{
    background-color: #f3f4f6;
}
.bookings-head{
    padding: 1rem 10% 1rem;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 

}
.booking-container{
    background-color: white;
    margin-top: 5.7rem;
}
.user-container{
    display: flex;
    justify-content: space-between;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
    border-radius: 10px;
    padding: 1.5rem 2rem;
    margin-bottom: 1rem;
}
.user-container p{
    color: black;
    padding: 0;
    margin: 0;
}
.user-container span{
    font-weight: bold;
}
.booking-card{
    border: 1px solid red;
}
.cancel-btn button{
    background-color: #F59131;
    padding: 8px 20px;
    color: #fff;
    font-weight: 600;
    border-radius: 5px;
    border: 1px solid #F59131;
}
.no-booking{
    padding: 3rem 10% 1rem;
}