/* Import Google font - Poppins
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
} */
.wrapper{
    width: 450px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 15px 40px rgba(0,0,0,0.12);
    border: 1px solid red;

  }
  .wrapper .calendar-head{
    display: flex;
    align-items: center;
    /* padding: 25px 30px 10px; */
    justify-content: space-between;
    border: 1px solid red;

  }
.calendar-head .icons{
    display: flex;
    border: 1px solid red;
  }
.calendar-head .icons i{
    cursor: pointer;
    text-align: center;
    font-size: 1.9rem;
    user-select: none;
    border-radius: 50%;
    color: red;
  }
.icons i:last-child{
    margin-right: -10px;
  }
.calendar-head .i span:hover{
    /* background: #f2f2f2; */
  }
.calendar-head .current-date{
    font-size: 1.45rem;
    font-weight: 500;
    color: black;
  }
  .calendar{
    padding: 20px;
  }
  .calendar ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    text-align: center;
  }
  .calendar .days{
    margin-bottom: 20px;
  }
  .calendar li{
    color: #333;
    width: calc(100% / 7);
    font-size: 1.07rem;
  }
  .calendar .weeks li{
    font-weight: 500;
    cursor: default;
  }
  .calendar .days li{
    z-index: 1;
    cursor: pointer;
    position: relative;
    margin-top: 30px;
  }
  .days li.inactive{
    color: #aaa;
  }
  .days li.active{
    color: #fff;
  }
  .days li::before{
    position: absolute;
    content: "";
    left: 50%;
    top: 50%;
    height: 40px;
    width: 40px;
    z-index: -1;
    border-radius: 50%;
    transform: translate(-50%, -50%);
  }
  .days li.active::before{
    background: #9B59B6;
  }
  .days li:not(.active):hover::before{
    background: #f2f2f2;
  }
  
  