.facilityy{
    background-color: white;
    margin-top: 5.7rem;
}
.facility-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    align-items: center;
    gap: 2.5rem;
}
.booking-btn{
    background-color: #F59131;
    padding: 5px 20px;
    border: #F59131;
    color: #fff;
    font-weight: 600;
    border-radius: 5px;
}
.recent-bookings{
    margin-top: 3rem;
}
.recent-bookings h5{
    color: #183866;
    font-weight: 600;
}
.recent-bookings p{
    color: #F59131;
}
.table{
    border: 1px solid #dbdbdb;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}
.table thead tr{
    height:50px;
    background-color: lightgray;
}