.foot{
    display: flex;
    flex-direction: column;
}
.f1{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.s1 a{
    display: flex;
    align-items: center;
    padding: 0;
}
.s1 p{
    margin: 2rem 0rem;
    width: 400px;
    font-size: 16px;
    line-height: 1.5; /* Adjust the line height as needed (1.5 is just an example value) */
}
.list h5{
    margin-bottom: 1.5rem;
    font-weight: 600; 
    color: white;
    font-size: 20px;
}
.list a{
    color: white;
    list-style: none;
}
.list a:hover{
    color: #F59131;
}
.list i{
    font-size: 18px; 
    color:white;
}
.list i:hover{
    color: #F59131;
}
.end{
    padding: 20px 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #06224A;
    text-align: center;
}
.last-text {
    color: var(--text-color);
    font-size: 14px;
}
.footer-icons i{
    padding: 10px;
    font-size: 25px;
    border-radius: 50%;
    border: 1px solid #F59131 ;
    color: #F59131;
    margin-right: .5rem;
    margin-top: 1rem;
    transition: background-color 0.3s, color 0.3s; /* Smooth transition */
}
.footer-icons i:hover {
    background-color: #F59131;
    color: #183866;
}
