/* body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif !important;
    text-decoration: none !important;
    scroll-behavior: smooth;
    background-color: #edf3fc;

} */
.form .head{
    text-align: center;
    margin-bottom: 2rem;
}
.form .head h4{
    color: #183866;
    font-weight: 600;
    font-size: 25px;
}
.form .head p{
    color: #F59131;
    font-size: 15px;
}
.form{
    padding: 2rem 3rem;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}
.forgot-password-container .email{
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}
.forgot-password-container .email input{
    height: 40px;
}
.forgot-btn{
    width: 100%;
    border: 1px solid #F59131;
    background-color: #F59131;
    padding: 7px 0px;
    border-radius:5px ;
    color: white;
    font-weight: 600;
}