/* body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif !important;
    text-decoration: none !important;
    list-style: none;
    scroll-behavior: smooth;
}
.login-container{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #edf3fc;
    height: 100vh;
} */
.form{
    padding: 3rem;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}
.start-text{
    text-align: center;
}
.start-text h3{
    color: #183866;
    font-weight: 600;
    font-size: 25px;
}
.start-text p{
    font-size: 15px;
    color: #F59131;
}
.email input,
.password input{
    background-color: #eee;
    border-radius: 5px;

}
form .email{
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}
form .password{
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}
.login-btn{
    width: 100%;
    margin-bottom: 1rem;  
    padding: 7px 0px;
    background-color: #F59131;
    color: white;
    font-weight: 600;
    border-radius: 5px;
    border: 1px solid #F59131;
}
.end-text {
    display: flex;
    text-decoration: none;
    justify-content: center;
    align-items: center;
}
.end-text a{
    text-decoration: none;
}


