/* .navbar{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #183866;
    border-bottom: 1px solid transparent;
    transition: all .45s ease;
    background-color: rgba(24, 56, 102, 0.7); /* Reduced opacity, 0.8 for 80% opacity */
    /* backdrop-filter: blur(3px);
}  */
.nbar .n-item {
    position: relative;
    text-decoration: none;
    color: white;
    font-size: 17px;
}

.nbar .n-item::before {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #F59131; /* Color of the underline */
    transition: width 0.3s; /* Add a smooth transition on hover */
}

.nbar .n-item.active-page::before {
    width: 100%; /* Expand the underline to 100% on the active link */
}

.nbar .n-item:hover::before {
    width: 100%; /* Expand the underline to 100% on hover */
}
.navbar-nav .nav-link.active-page {
    border-bottom: 1px solid #F59131; /* Add an underline effect */
}
.dropdown-menu li a{
    font-size: 15px;
}
.my-bookings{
    background-color: #EFEFEF;
    padding: 10px 10px 0px 10px;
    margin-bottom: 5px;
    display: flex;
    border-radius: 10px;
}
.my-bookings a{
    font-size: 13px;
    display: flex;
}
.my-bookings .cancel-btn{
    background-color: #F59131;
    color: white;
    padding: 2px 15px;
    border-radius: 5px;
    font-size: 12px;
    margin-left: 3rem;
}
.logout-btn{
    margin-left: 1rem;
    border-radius: 6px;
    text-decoration: none;
    border: none;
    background-color: #F59131;
    padding: 8px 20px;
    color: white;
    font-weight: 600;
    transition: transform 0.3s; /* Add a smooth transition effect */
    margin-bottom: 1.5rem;
}
.logout-btn:hover{
    color: white;
    transform: scale(0.8); /* Decrease the size on hover (95% of the original size) */
    cursor: pointer;
}

.login-btn{
    background-color: none;
    padding: 5px 30px;
    border: 2px solid #F59131;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    font-weight: 700;
    transition: all 0.3s ease 0s;
}
.login-btn:hover{
    /* margin-left: 1rem; */
    background-color:#F59131;
    color: white;
}
.register-btn{
    background-color: #F59131;
    padding: 5px 30px;
    border: 2px solid #F59131;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    font-weight: 700;
    transition: 400ms;
}
.register-btn:hover{
    background-color:transparent;
    color: white;
}
.profile-initial{
    border-radius: 50%;
    color: #F59131;
    font-size: 20px;
    font-weight: 600;
    padding: 7px;
    border: 1px solid #F59131;
}


