.container{
  display: flex;
  background: #f8edeb;
  font-family: 'Poppins', sans-serif;
  border: 1px solid green;
}
.accordion_tab{
  color: #fff;
  border: 1px solid black;
  
}
.accordion_tab_wrapper{
  display: flex;
  height: 85vh;
    /* 
    width: 250px;
    background: var(--bg-color);
    padding: 20px 0px 50px 0px; 
    color: #fff; */
  border: 1px solid red;
}
.accordion_tab_group{
  width: 250px;
}
.accordion_tab_group .tab{
  width: 250px;
  cursor: pointer;
  display: inline-block;
  color: #bc6c25;
  border: 2px solid #bc6c2520;
}
.accordion_tab_group .tab:hover{
  background: orange;
  color: #fcd5ce;
}

#one:checked ~ .accordion_tab_group #one-tab,
#two:checked ~ .accordion_tab_group #two-tab,
#three:checked ~ .accordion_tab_group #three-tab,
#four:checked ~ .accordion_tab_group #four-tab
{
  background:green;
  color: #fcd5ce;
  border: 1px solid blue;
}
.accordion_tab_wrapper input[type="radio"]{
  display: none;
}
.accordion_tab_contents{
  background: #bc6c25;
  color: #fff;  
  border: 1px solid black;
}
#one:checked ~ .accordion_tab_contents #one-tab-content,
#two:checked ~ .accordion_tab_contents #two-tab-content,
#three:checked ~ .accordion_tab_contents #three-tab-content,
#four:checked ~ .accordion_tab_contents #four-tab-content
{
  display: block;
  background-color: red;
}
.accordion_tab_contents .accordion_tab_content{
  display: none;
  background-color: blue;

}