.form{
    padding: 2rem 3rem;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}
.start-text{
    text-align: center;
}
.start-text h3{
    color: #183866;
    font-weight: 600;
}
.start-text p{
    font-size: 15px;
    color: #F59131;
}
.name input,
.collegeid input,
.email input,
.contact input,
.password input,
.cpassword input{
    height: 35px;
    border-radius: 5px;
    background-color: #eee;
    border: none;
}
form .name,
form .collegeid,
form .email,
form .password,
form .contact,form .cpassword{
    display: flex;
    flex-direction: column;
    margin-bottom: .8rem;
}
.register-btn{
    width: 100%;
    margin-bottom: 1rem;  
    padding: 7px 0px;
    background-color: #F59131;
    color: white;
    font-weight: 600;
    border-radius: 5px;
    border: 1px solid #F59131;
}
.end-text {
    display: flex;
    text-decoration: none;
    justify-content: center;
    align-items: center;
}
.end-text a{
    text-decoration: none;
}
.verification-btn{
    width: 100%;
    /* margin: 0rem 0rem 2rem 1.5rem;   */
    padding: 7px 10px;
    background-color: #F59131;
    color: white;
    font-weight: 600;
    border-radius: 5px;
    border: 1px solid #F59131;
}
.cancel-verification{
    width: 100%;
    /* margin: 0rem 1.5rem 2rem 0rem;   */
    padding: 7px 20px;
    background-color: orange;
    color: black;
    font-weight: 600;
    border-radius: 5px;
    border: 1px solid darkblue;
}
