*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif !important;
  text-decoration: none !important;
  list-style: none;
  scroll-behavior: smooth;
}
body{
  height: 100vh;
  background-color: #f1f5f9;
}
.admin-header{
  background-color: #242527;
  display: flex;
  justify-content: space-between;
}
.admin-header h5{
  color: white;
  padding: 15px 10px;
}
.sidebar{
  width: 250px;
  height: 100vh;
  top: 0;
  left: 0;
  padding: 10px 15px;
  background-color: #242527;
  position: sticky;
}
.sidebar a{
  display: flex;
}
.sidebar .sidebar-logo{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0rem;
  flex-direction: column;
}
.sidebar-logo span{
  color: orange;
  font-weight: 600;
  margin-top: 1rem;
  font-size: 14px;
  margin-bottom: 1rem;
}

.sidebar .menu-item{
  height: 50px;
  display: flex;
  align-items: center;
  margin-top:  10px;
}
.sidebar .menu-item .icon{
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 50px;
  font-size: 20px;
}
.sidebar .menu-item .icon,
.sidebar .menu-item .nav-text{
  color: white;
}
.sidebar .menu-item a{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;
  border-radius: 6px;

  transition: all 0.3s ease;
}
.sidebar .menu-item a:hover{
  background-color: #3a3b3d;
}
.sidebar .menu-item a:hover .icon,
.sidebar .menu-item a:hover .nav-text{
  color: white;
}

/* .sidebar .sidebar-menu{
  height: calc(100%-350px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
} */

.admin-logout{
  margin-left: 1rem;
  border-radius: 6px;
  text-decoration: none;
  border: none;
  background-color: #F59131;
  padding: 8px 20px;
  color: white;
  font-weight: 600;
  transition: transform 0.3s; /* Add a smooth transition effect */
  margin-bottom: 1.5rem;
}
.admin-logout:hover{
  transform: scale(0.7); /* Decrease the size while hovered */
}
.main-content {
  width: 100%;
  /* overflow-y: auto; */
}
.sidebar-menu .menu-item a.active {
  background-color: #3a3b3d;

}

