*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif !important;
    text-decoration: none !important;
    list-style: none;
    scroll-behavior: smooth;
}
:root{
    --bg-color:#183866;
    --second-bg-color: #fff;
    --text-color:#fff;
    --second-color:black;
    --main-color:#F59131;
    --big-font:5rem;
    --h2-font:3rem;
    --p-font:1.1rem;
    --text1-color:#183866;
    --text2-color:#F59131;

}
body{
    background: var(--bg-color) !important;
    color: var(--text-color);
}
header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #183866;
    padding: 15px 15%;
    border-bottom: 1px solid transparent;
    transition: all .45s ease;
    background-color: rgba(24, 56, 102, 0.7); /* Reduced opacity, 0.8 for 80% opacity */
    backdrop-filter: blur(3px); /* Adds a slight blur effect */
}

section{
    padding: 100px 15% 80px !important;
}

.about{
    text-align: center;
    align-items: center;
}
.about-text h2{
    font-size: var(--h2-font);
    line-height: 1;
    color: var(--text-color);
    margin-bottom: 4rem;
    font-weight: 700;
}
.about-text p{
    color: var(--text-color);
    font-size: var(--p-font);
    line-height: 1.8;
}
.parallax {
    background: linear-gradient(rgba(24, 56, 102, 0.7), rgba(24, 56, 102, 0.4)),
                url('../images/beta.jpg');
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallax .about-text {
    color: #fff; /* Set the text color to white */
}

.services{
    background: var(--second-bg-color);   
}
.main-text{
    text-align: center;
}
.main-text p{
    color: var(--text2-color);
    font-size: 15px;
}
.main-text h2{
    font-size: var(--h2-font);
    line-height: 1;
    color: var(--text1-color);
    font-weight: 700;
}
.services-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    align-items: center;
    gap: 2.5rem;
    margin-top: 3.5rem;
}
.box{
    background: white;
    border-radius: 8px;
    transition: all .45s ease;
    box-shadow: 0px 10px 20px rgba(0,0,0.1,0.4);
}
.s-text{
    padding: 0px 30px;
    color: black;
}
.box img{
    width: 100%;
    height:200px;
    border-radius: 8px 8px 0px 0px;   
}
.box h3{
    font-size: 20px;
    font-weight: 600;
    margin: 10px 0px 10px 0px;   
}
.box p{
    color: var(--second-color);
    font-size: 14px;
    line-height: 1.7;
    /* margin-bottom: 25px; */
}
.s-span{
    border-radius:10px; 
    background:#F59131; 
    padding:2px 16px;
    font-size:11px;
    color:white;
}
.line {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #ddd;
}
.services-content .box:hover{
    transform: translateY(-8px);
    cursor: pointer;
}
.one{
    font-size: 30px;
    font-weight: bold;
 }
 .two{
     font-size: 14px;
 }
.s-label{
    display: flex;
    flex-direction: column;
    background-color: #183866;
    text-align: center;
    color: #fff;
    border-radius:0px 0px 8px 8px;  
    padding-bottom: 10px; 
}

 

.testimonials{
    background: var(--second-bg-color);   
}
.testimonials-text{
    text-align: center;
}
.testimonials-text p{
    color: var(--text2-color);
    margin-bottom: 15px;
}
.testimonials-text h2{
    font-size: var(--h2-font);
    line-height: 1;
    color: var(--text1-color);
    font-weight: 700;
}

.feature-text{
    text-align: center;
}
.feature-text p{
    color: var(--text2-color);
    font-size: 15px;
    margin-bottom: 15px;
}
.feature-text h2{
    font-size: var(--h2-font);
    line-height: 1;
    color: var(--text-color);
    font-weight: 700;
}
.feature-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    place-items: center;
    margin-top: 2rem;
    gap: 3rem;

    /* display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    align-items: center;
    gap: 2.5rem;
    margin-top: 3.5rem; */
}
.keyfeatures{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 0;
}
.feature-t{
    display: flex;
    flex-direction: column;
    margin-left: 1.5rem;
    color: white;
    font-size: 14px;
}
.feature-t h5{
    font-weight: 600;    
}
.features-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.features-icon i{
    display: flex;
    padding: 15px ;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    color: white;
}

.contact{
    background: var(--second-bg-color);
}
.contact-text {
    text-align: center;
}
.contact-text h2{
    font-size: var(--h2-font);
    line-height: 1;
    color: var(--text1-color);
    font-weight: 700;
}
.contact-text p{
    color: var(--text2-color);
    font-size: 15px;
    margin-bottom: 15px;
}
.contact-content{
    background: var(--second-bg-color);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    align-items: center;
    gap: 3rem;
    margin-top: 3rem;
}
.maps {
    position: relative;
    overflow: hidden;
  }
.form{
    padding: 30px 30px;
    box-shadow: 0px 10px 20px rgba(0,0,0.1,0.4);
    border-radius: 10px;
    border: none;
}
.form h5{
    text-align: center;
    font-weight: 600;
    color: var(--text1-color);
}
.inputt textarea{
    background-color: #F5F5F5;
    margin-bottom: 1rem;
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: none;
    background-color: #F5F5F5;
    height: 14rem;
    text-align: top;

}
.fbtn{
    width: 100%;
    background-color: #F59131;
    font-weight: 600;
    color: #fff;
    border: none;
    padding: 7px 0px;
    border-radius: 10px;
    margin-bottom: 10px;
    transition: all .45s ease;
}
.fbtn:hover{
    transform: scale(0.9);

}

.carousel-item{
    position: relative;
}

.carousel-caption {
    display: flex;
    flex-direction: column;
    color: #fff;
    align-items: flex-start ;
    justify-content: flex-start;
    top: 20%; 
}
.carousel-caption h1 {
    font-size: 4.5rem;
    margin-bottom: 2rem;
    font-weight: 700;   
    text-align: start;
}
.carousel-caption p {
    font-size: 20px;
    margin-bottom: 5rem;
    line-height: 1.4;
    text-align: start;
}

.cta {
    position: relative;
    padding: 12px 18px;
    transition: all 0.2s ease;
    border: none;
    background: none;
}   
.cta:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 50px;
    background: #F59131;
    width: 50px;
    height: 50px;
    transition: all 0.3s ease;
}  
.cta span {
    position: relative;
    font-family: "Ubuntu", sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.05em;
    color: #fff;
}   
.cta svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #fff;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
}
.cta:hover:before {
    width: 100%;
    background: #F59131;
}  
.cta:hover svg {
    transform: translateX(0);
}  
.cta:active {
    transform: scale(0.95);
}
.e-btn {
    display: inline-block;
    border-radius: 24px;
    background-color: #F59131;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 17px;
    padding: 10px 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
   }
.e-btn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
   } 
.e-btn span:after {
    content: '»';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -15px;
    transition: 0.5s;
   } 
.e-btn:hover span {
    padding-right: 15px;
   } 
.e-btn:hover span:after {
    opacity: 1;
    right: 0;
   }

@media (max-width: 1025px) {
    .carousel {
      height: 90vh;
    }
}
@media (max-width: 770px) {
    .carousel {
      height: 60vh;
    }
}
@media (max-width: 600px) {
    .carousel {
      height: 40vh;
    }
}
@media (max-width: 432px) {
    .carousel {
      height: 28vh;
    }
}