html, body {
    position: relative;
    height: 100%;
    margin: 0;
    padding: 0;
}
.swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 1rem;
}
.swiper-slide {
    display: flex;
    background-color: #183866;
    padding: 20px 30px;
    width: 300px;
    height: 350px;
    text-align: center;
    border-radius: 10px;
    flex-direction: column;
}
.swiper-slide p {
    color: white;  
    font-size: 15px;
    margin: -2.5rem 0rem;

}
.swiper-slide h2 {
    font-size: 6rem;
    color: white; 
    font-weight: 600;
}
.swiper-slide img {
    display: block;
    width: 100%;
}
