.user-container {
    margin: 1rem 1.5rem;
}
.user-delete{
    display: flex;
    justify-content: space-between;
    padding: 20px 20px;
    border: 1px solid #dbdbdb;
    background-color: white;  
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    border-radius: 5px;
    margin-bottom: 1rem;
}
.feedback-delete{
    display: flex;
    justify-content: flex-end;
    padding: 20px 20px;
    border: 1px solid #dbdbdb;
    background-color: white;  
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    border-radius: 5px;
    margin-bottom: 1rem;
}
.search-user input{
    width: 350px;
    height: 35px;
    border-radius: 5px;
}
.search-user button{
    padding: 5px 25px;
    border-radius:5px ;
    font-weight: 600;
    background-color: lightskyblue;
    border: none;
    color: white;
}

.table{
    border: 1px solid #dbdbdb;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}
.table thead tr{
    height:60px;
    background-color: lightgray;
}
